# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
workspace

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
*.zip
forge*changelog.txt
